page-update-device {
    .logitem {
        background-color: transparent;
        padding-bottom: 5px;
    }
    .logitem1 {
        background-color: transparent;
    
        p { 
            color: #ea6153;
            margin: 0;
            padding: 0;
        }
    }
    // ion-label{
    //    max-width: 80px;
    // }
    // ion-input{
    //     margin-left: 15%;
    // }
}
